#box{
    width: 300px;
    height: 400px;
    background-color: #2F8141;
}

#box1{
    width: 571px; ;
    height: 140px;
    background-color: #13513B;
}
#box2{
    width: 571px; ;
    height: 140px;
    background-color:#E624BB;
}
#box3{
    width: 571px; ;
    height: 140px;
    background-color: #55EF0D;
}
